<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="info" type="File" filename="infos.txt"/>
    <target name ="error" type="File" filename ="errors.txt"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="info" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>